<template name="appLayout">
  <!--[if lt IE 9]>
    <p class="browser-warning"><strong><i class="icon-exclamation-sign"></i> Warning</strong> - You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/" target="_blank">upgrade your browser</a> to properly view this website.</p>
  <![endif]-->
  <div id="wrapper">

  		{{> _navigation}}

  		<div id="page-wrapper" class="gray-bg dashboard-1">

  				{{> _header}}

  				<div class="row">
    		        <div class="col-lg-12">
    		            <div class="wrapper-content">

    		 			        {{> yield}}

    		            </div>
    		        </div>
                    {{> _footer}}
    			</div>
			</div>
	</div>
</template>
